In [1]:
import pandas as pd
import pandasql as ps

In [2]:
demand = pd.read_csv('demand_test.csv')
charge = pd.read_csv('charge_test.csv')

C:\Users\AM\miniforge3\lib\site-packages\IPython\core\interactiveshell.py:3155: DtypeWarning: Columns (9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
query1 = '''
select count(*)
from
    (
    select * from demand
    where LOAN_ISSUED = 1) d
    left join charge c on d.DEMAND_ID = c.DEMAND_ID
    where CHARGE_SUMMA < 0

'''

In [4]:
# десять платежей с отрицательной суммой
clients_with_negative_CHARGE_SUMMA = ps.sqldf(query1)
clients_with_negative_CHARGE_SUMMA

   count(*)
0        10

In [5]:
query2 = '''
select d.DEMAND_ID, SAVE_STAMP, CHARGE_DATE, LOAN_AMOUNT, CHARGE_SUMMA
from
    (
    select * from demand
    where LOAN_ISSUED = 1) d
    left join charge c on d.DEMAND_ID = c.DEMAND_ID
    where CHARGE_DATE < SAVE_STAMP

'''

In [6]:
# 1392 случая, когда заявка сохранена после первого платежа и иногда даже не одного
clients_with_negative_CHARGE_SUMMA = ps.sqldf(query2)
clients_with_negative_CHARGE_SUMMA

,DEMAND_ID,SAVE_STAMP,CHARGE_DATE,LOAN_AMOUNT,CHARGE_SUMMA
0,56493,2019-05-07 00:00:00,2019-05-06 00:00:00,13000,390.0
1,56558,2019-05-07 00:00:00,2019-05-06 00:00:00,10000,10150.0
2,56609,2019-05-07 00:00:00,2019-05-06 00:00:00,10900,1900.0
3,24376,2019-05-01 00:00:00,2019-04-30 00:00:00,9000,395.0
4,24376,2019-05-01 00:00:00,2019-04-30 00:00:00,9000,9135.0
...,...,...,...,...,...
1387,655890,2019-08-26 00:00:00,2019-08-25 00:00:00,15000,150.0
1388,655890,2019-08-26 00:00:00,2019-08-25 00:00:00,15000,150.0
1389,655890,2019-08-26 00:00:00,2019-08-25 00:00:00,15000,1050.0
1390,655890,2019-08-26 00:00:00,2019-08-25 00:00:00,15000,15000.0
1391,656232,2019-08-27 00:00:00,2019-08-26 00:00:00,11000,390.0

#### 2 варианта

1. Исключить платежи до сохранения заявки:

In [7]:
query3 = '''
with base as 
    (
    select
        d.DEMAND_ID id,
        date(SAVE_STAMP, 'start of month') loan_date,
        LOAN_AMOUNT loan_amount,
        date(CHARGE_DATE, 'start of month') charge_date,
        CHARGE_SUMMA charge_amount,
        round((julianday(date(CHARGE_DATE, 'start of month')) - julianday(date(SAVE_STAMP, 'start of month'))) / 30) period
    from
        (
        select * from demand
        where LOAN_ISSUED = 1
        ) d
    left join charge c
    on d.DEMAND_ID = c.DEMAND_ID
    where CHARGE_SUMMA > 0 and CHARGE_DATE >= SAVE_STAMP
    )    
        

select
    cp.coghort,
    cp.period,
    borrowers,
    sum(payments) over (partition by cp.coghort order by cp.period
                rows between unbounded preceding and current row) / loans_amount * 100 payments_percentage
    
from
(
select
    loan_date coghort,
    period,
    count(id) borrowers,
    sum(charge_amount) payments
from base
group by
    coghort,
    period
) cp
left join
(
select
    loan_date coghort,
    sum(loan_amount) loans_amount
from (select distinct id, loan_date, loan_amount from base)
group by coghort
) ls

on ls.coghort = cp.coghort
'''

In [8]:
cohorts_1 = ps.sqldf(query3)

cohorts_1.head(60)

       coghort  period  borrowers  payments_percentage
0   2019-05-01     0.0      18863            38.024277
1   2019-05-01     1.0      24353            95.485641
2   2019-05-01     2.0      11042           117.836328
3   2019-05-01     3.0       9244           134.208233
4   2019-05-01     4.0       5106           144.688504
5   2019-05-01     5.0       2694           150.439482
6   2019-05-01     6.0       1543           153.869488
7   2019-05-01     7.0        782           155.329746
8   2019-05-01     8.0        455           156.074738
9   2019-05-01     9.0        423           157.031445
10  2019-05-01    10.0        132           157.328060
11  2019-05-01    11.0         46           157.402507
12  2019-05-01    12.0         50           157.520991
13  2019-05-01    13.0         57           157.710247
14  2019-05-01    14.0        138           157.849865
15  2019-05-01    15.0        319           158.172584
16  2019-05-01    16.0        881           158.936828
17  2019-05-01    17.0       1042           159.896814
18  2019-05-01    18.0       1184           161.142664
19  2019-05-01    19.0       1744           163.009001
20  2019-05-01    20.0        544           163.542517
21  2019-05-01    21.0       1143           164.583323
22  2019-05-01    22.0       1739           165.664496
23  2019-05-01    23.0       1518           166.646436
24  2019-05-01    24.0       1449           167.509439
25  2019-05-01    25.0       1426           168.236507
26  2019-05-01    26.0       1357           169.108119
27  2019-05-01    27.0       1454           169.813711
28  2019-05-01    28.0       1405           170.579249
29  2019-05-01    29.0       1511           171.367356
30  2019-05-01    31.0       1356           172.060476
31  2019-05-01    32.0       1541           172.825215
32  2019-05-01    33.0        947           173.226888
33  2019-05-01    34.0       1003           173.627422
34  2019-05-01    35.0       1204           174.142887
35  2019-05-01    36.0        868           174.485276
36  2019-05-01    37.0         58           174.496343
37  2019-06-01     0.0      16022            39.442670
38  2019-06-01     1.0      22360            99.253897
39  2019-06-01     2.0      12948           122.491137
40  2019-06-01     3.0       6866           136.226906
41  2019-06-01     4.0       3999           145.163959
42  2019-06-01     5.0       2071           150.141552
43  2019-06-01     6.0       1253           153.126662
44  2019-06-01     7.0        639           154.487836
45  2019-06-01     8.0        383           155.621308
46  2019-06-01     9.0        147           155.932229
47  2019-06-01    10.0         43           156.025564
48  2019-06-01    11.0         31           156.123222
49  2019-06-01    12.0         22           156.182226
50  2019-06-01    13.0         84           156.359910
51  2019-06-01    14.0        156           156.542338
52  2019-06-01    15.0        344           156.926570
53  2019-06-01    16.0        586           157.657281
54  2019-06-01    17.0        792           158.681302
55  2019-06-01    18.0       1149           160.171555
56  2019-06-01    19.0        519           160.685808
57  2019-06-01    20.0        832           161.451428
58  2019-06-01    21.0       1252           162.480423
59  2019-06-01    22.0       1139           163.532782

2. Отнять пару дней от даты сохранения заявки, на случай если вдруг эти записи должны принадлежать к апрельским когортам.

In [9]:
query4 = '''
with base as 
    ( 
    select
        id,
        loan_date,
        loan_amount,
        charge_date,
        charge_amount,
        round((julianday(charge_date) - julianday(loan_date)) / 30) period
    from (
            select
                d.DEMAND_ID id,
                case when CHARGE_DATE < SAVE_STAMP then date(SAVE_STAMP, '-2 days', 'start of month')
                else date(SAVE_STAMP, 'start of month')
                end as loan_date,
                LOAN_AMOUNT loan_amount,
                date(CHARGE_DATE, 'start of month') charge_date,
                CHARGE_SUMMA charge_amount
            from
                (
                select * from demand
                where LOAN_ISSUED = 1
                ) d
            left join charge c
            on d.DEMAND_ID = c.DEMAND_ID
            where CHARGE_SUMMA > 0
    )    
        )

select
    cp.coghort,
    cp.period,
    borrowers,
    sum(payments) over (partition by cp.coghort order by cp.period
                rows between unbounded preceding and current row) / loans_amount * 100 payments_percentage
    
from
(
select
    loan_date coghort,
    period,
    count(id) borrowers,
    sum(charge_amount) payments
from base
group by
    coghort,
    period
) cp
left join
(
select
    loan_date coghort,
    sum(loan_amount) loans_amount
from (select distinct id, loan_date, loan_amount from base)
group by coghort
) ls

on ls.coghort = cp.coghort
'''

In [10]:
cohorts_2 = ps.sqldf(query4)

cohorts_2.head(59)

       coghort  period  borrowers  payments_percentage
0   2019-04-01     0.0          9            23.654551
1   2019-04-01     1.0          8            36.559594
2   2019-05-01     0.0      19201            38.283984
3   2019-05-01     1.0      24353            95.636561
4   2019-05-01     2.0      11042           117.944934
5   2019-05-01     3.0       9244           134.285843
6   2019-05-01     4.0       5106           144.746273
7   2019-05-01     5.0       2694           150.486363
8   2019-05-01     6.0       1543           153.909875
9   2019-05-01     7.0        782           155.367369
10  2019-05-01     8.0        455           156.110951
11  2019-05-01     9.0        423           157.065846
12  2019-05-01    10.0        132           157.361899
13  2019-05-01    11.0         46           157.436206
14  2019-05-01    12.0         50           157.554465
15  2019-05-01    13.0         57           157.743363
16  2019-05-01    14.0        138           157.882717
17  2019-05-01    15.0        319           158.204824
18  2019-05-01    16.0        881           158.967622
19  2019-05-01    17.0       1042           159.925790
20  2019-05-01    18.0       1184           161.169281
21  2019-05-01    19.0       1744           163.032085
22  2019-05-01    20.0        544           163.564591
23  2019-05-01    21.0       1143           164.603427
24  2019-05-01    22.0       1739           165.682553
25  2019-05-01    23.0       1518           166.662634
26  2019-05-01    24.0       1449           167.524003
27  2019-05-01    25.0       1426           168.249695
28  2019-05-01    26.0       1357           169.119657
29  2019-05-01    27.0       1454           169.823913
30  2019-05-01    28.0       1405           170.588001
31  2019-05-01    29.0       1511           171.374617
32  2019-05-01    31.0       1356           172.066424
33  2019-05-01    32.0       1541           172.829715
34  2019-05-01    33.0        947           173.230628
35  2019-05-01    34.0       1003           173.630403
36  2019-05-01    35.0       1204           174.144893
37  2019-05-01    36.0        868           174.486633
38  2019-05-01    37.0         58           174.497680
39  2019-06-01     0.0      16264            39.721017
40  2019-06-01     1.0      22364            99.461889
41  2019-06-01     2.0      12948           122.671314
42  2019-06-01     3.0       6866           136.390641
43  2019-06-01     4.0       3999           145.316997
44  2019-06-01     5.0       2071           150.288631
45  2019-06-01     6.0       1253           153.270168
46  2019-06-01     7.0        639           154.629713
47  2019-06-01     8.0        383           155.761828
48  2019-06-01     9.0        147           156.072376
49  2019-06-01    10.0         43           156.165600
50  2019-06-01    11.0         31           156.263141
51  2019-06-01    12.0         22           156.322074
52  2019-06-01    13.0         84           156.499545
53  2019-06-01    14.0        156           156.681755
54  2019-06-01    15.0        344           157.065527
55  2019-06-01    16.0        586           157.795363
56  2019-06-01    17.0        792           158.818159
57  2019-06-01    18.0       1149           160.306628
58  2019-06-01    19.0        519           160.820265